.container {
  background-color: #fff;
  display: flex;
  flex-direction: column;

  .section1 {
    height: 100vh;
    background-color: #000;
    position: relative;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      opacity: 0.3;
      position: absolute;
    }

    .sectionBody {
      height: 100%;
      width: 100%;
      padding: 0 5vw;
      position: absolute;

      .header {
        display: flex;
        justify-content: flex-end;
        margin-top: 25px;
        padding: 0 10vw;

        .navs {
          margin-left: 1rem;
          font-family: "Nunito-Regular";
          cursor: pointer;
          color: #fff;
        }
      }

      .coverDetails {
        height: 90%;
        display: flex;
        align-items: center;

        h1 {
          color: #fff;
          font-family: "Nunito-Bold";
          font-size: 6rem;
          margin-top: 20px;
        }

        h3 {
          color: #fff;
          font-family: "Tangerine", serif;
          font-size: 4rem;
          margin-top: 20px;
        }

        .notes {
          color: #fff;
          font-family: "Nunito-Bold";
          flex: 1;
          margin-left: 5vw;

          p {
            font-family: "Nunito-Regular";
            line-height: 2vw;
            font-size: 1.5vw;
          }
        }
      }
    }
  }
}
