.container{
  background-color: #fff;
  display: flex;
  flex-direction: column;

  .section1{
    height: 75vh;
    background-color: #000;
    position: relative;

    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
      opacity: 0.4;
      position: absolute;
    }

    .sectionBody{
      height: 100%;
      width: 100%;
      padding: 0 15vw;
      position: absolute;
      
      .header {
        display: flex;
        justify-content: flex-end;
        margin-top: 25px;
    
        .navs {
          margin-left: 1rem;
          font-family: 'Nunito-Regular';
          cursor: pointer;
          color: #fff;
        }
      }
  
      .coverDetails{
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
  
        h1{
          color: #fff;
          font-family: 'Nunito-Bold';
          font-size: 6rem;
          margin-top: 20px;
        }
    
        h3{
          color: #fff;
          font-family: 'Tangerine', serif;
          font-size: 4rem;
          margin-top: 20px;
        }
      }
    }
  }

  .section2{
    height: 35vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    .parts{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 1px solid lightgray;
      padding: 10px 0;
      width: 10vw;
      height: 10vw;
      border-radius: 10px;
      margin: 0 10px;
      cursor: pointer;

      img {
        height: 65px;
        width: 65px;
        opacity: 0.6;
      }

      p {
        margin: 0;
        color: gray;
        margin-top: 10px;
        font-size: 0.8vw;
        text-align: center;
        font-family: 'Nunito-Regular';
      }
    }

    .parts:hover {
      background-color: grey;

      img {
        display: none;
      }

      p {
        color: #fff;
        font-size: 1.8vw;
        font-family: 'Tangerine', serif;
      }
    }
  }

  .section3 {
    height: 75vh;
    position: relative;

    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
      position: absolute;
    }

    .sectionBody{
      height: 100%;
      width: 100%;
      padding: 4vw;
      width: 45vw;
      position: absolute;
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1{
        font-family: 'Tangerine', serif;
        font-size: 4vw;
        color: #fff;
      }

      p {
        font-size: 1.3vw;
        font-family: 'Nunito-light';
      }

      .button{
        background-color: #fff;
        color: black;
        font-family: 'Tangerine', serif;
        font-size: 1.6vw;
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        width: 200px;
        cursor: pointer;
      }
    }
  }

  .section4 {
    height: 75vh;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 10vw;

    img {
      height: 70%;
      object-fit: cover;
      justify-content: flex-end;
    }

    .sectionBody{
      height: 100%;
      width: 45vw;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1{
        font-family: 'Tangerine', serif;
        font-size: 4vw;
      }

      p {
        font-size: 1.3vw;
        font-family: 'Nunito-light';
        color: #000;
      }

      .button{
        background-color: #000;
        color: #fff;
        font-family: 'Tangerine', serif;
        font-size: 1.6vw;
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        width: 200px;
        cursor: pointer;
      }
    }
  }

  .section5 {
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vw 0;

    span {
      font-family: 'Tangerine', serif;
      font-size: 4vw;
    }

    img {
      height: 12vw;
      width: 12vw;
      border-radius: 50%;
    }

    .name{
      font-family: 'Nunito-light';
      font-size: x-large;
      margin-top: 20px;
    }

    .occupation{
      font-family: 'Nunito-light';
      font-size: large;
      color: lightgray;
    }

    .notes {
      font-family: 'Nunito-light';
      font-size: large;
      width: 50%;
      text-align: center;
      margin-top: 10px;
    }
  }

  .section6 {
    font-family: 'Nunito-light';
    text-align: center;
    padding: 10px 0;
  }
}