span,
p,
label {
  color: #fff;
  margin: 0;
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .bgImage {
    height: 100%;
    width: 100%;
    object-fit: fill;
    position: absolute;
    z-index: -1;
    opacity: 0.8;
  }

  .centerBox {
    background-color: #000;
    border-radius: 10px;
    padding: 20px;
    width: 30vw;

    .title {
      font-size: 2rem;
      text-align: center;
      letter-spacing: 0.2rem;
      font-family: monospace;
      color: #fff;
    }

    .subTitle {
      font-size: 1.5rem;
      text-align: center;
      font-family: monospace;
      margin-bottom: 50px;
      color: #fff;
    }

    .forgetPassword{
      display: flex;
      justify-content: flex-end;

      a {
        color: white;
        font-size: 0.9rem;
      }
    }

    .note {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 1rem;

      a {
        color: white;
        font-size: 0.9rem;
      }
    }
  }

  @media only screen and (max-width: 1200px) {
    .centerBox{
      width: 50vw;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .centerBox{
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .centerBox > p {
    margin: 0;
  }

  .bottomSection {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .button {
      background-color: #007bff;
      width: 30%;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
    }

    .socialIconLogin {
      display: flex;
      align-items: center;

      .socialIcon {
        height: 25px;
        width: 25px;
        margin-left: 10px;
      }
    }
  }
}
