.container {
  background-color: #fff;
  display: flex;
  flex-direction: column;

  .section1 {
    height: 75vh;
    background-color: #000;
    position: relative;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      opacity: 0.4;
      position: absolute;
    }

    .sectionBody {
      height: 100%;
      width: 100%;
      padding: 0 5vw;
      position: absolute;

      .header {
        display: flex;
        justify-content: flex-end;
        margin-top: 25px;
        padding: 0 10vw;

        .navs {
          margin-left: 1rem;
          font-family: "Nunito-Regular";
          cursor: pointer;
          color: #fff;
        }
      }

      .coverDetails {
        height: 100vh;
        display: flex;
        flex-direction: column;
        padding: 25px;
        background-color: #fff;
        margin-top: 3vw;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        box-shadow: -2px 3px 15px 0px rgba(0,0,0,0.49);

        h4 {
          font-family: "Nunito-Bold";
          font-size: 2.5rem;
        }
      }
    }
  }
}
