.main {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
  margin-bottom: 20px;

  .container {
    display: flex;
    flex: 1;
    position: relative;

    .inputSection {
      flex: 1;

      .input {
        background-color: #000;
        border: 0;
        color: #fff;
        font-size: 0.9rem;
        width: 100%;
      }
    }
  }

  input:focus {
    outline: none;
  }

  .input::placeholder {
    color: #fff;
  }
}

.icon {
  height: 22px;
  width: 22px;
  fill: white;
  margin-right: 15px;
}

.rightIcon {
  margin-right: 0px;
}
