@import "colours";
@import "settings";

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: "Nunito-Bold";
  src: url("../../assets/fonts/Nunito-Bold.ttf");
}

@font-face {
  font-family: "Nunito-Light";
  src: url("../../assets/fonts/Nunito-Light.ttf");
}

@font-face {
  font-family: "Nunito-Regular";
  src: url("../../assets/fonts/Nunito-Regular.ttf");
}


